### PyCharm ###

.idea/

### VisualStudioCode ###

.vscode/

### JupyterNotebooks ###

.ipynb_checkpoints

### Python ###

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
venv/

### Data ###

# Input
*.feather
*.xlsm

# Output
results/
*.xlsx
*.png
*.html

data_notes.txt
